body{
    background-color: yellow;
    margin: 50px;
    padding: 30px;
    border: 10px;
    border-style: solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
}
p{
    padding: 20px;
    margin: 15px;
    border: 5px;
    border-style: dashed;
    background-color: aquamarine;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}